.tit_mod {
    width: 100%;
    color: #004492!important;
    text-align: center;
    font-family: 'Franklin Gothic Medium', arial;
    font-size: 1.5rem!important;
}


.p_ch {
    color: #004492!important;
    font-family: 'franklin-gothic-book-regular', sans-serif;
    font-size: 1.1rem;
}

.p_ch span {
    color: grey!important;
    font-family: 'Franklin Gothic Medium', arial;
    font-size: 1.1rem;
    font-weight: 600;
}

.btn_cus {
    background-color: #004492!important;
    border-color: #004492!important;
}

.th_cus {
    color: #004492!important;
    font-family: 'Franklin Gothic Medium', arial;
}

.dv_c {
    float: right;
}

.btn_cb {
    font-family: 'franklin-gothic-medium-cond-regular', sans-serif;
    background-color: #00B5D8!important;
    border-color: #00B5D8!important;
    font-size: 1.2rem;
}

