.sec_cus {
    background-color: #004492;
    color: white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', arial;
    margin-bottom: 20px;
}

.text_main {
    text-align: center;
    color: #004492;
    font-size: 20px;
    font-weight: 400;
}


.sec_cus h3 {
    margin: 0;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', arial;
}

.p_cus_c {
    color: grey;
    font-size: 14px;
    font-family: 'franklin-gothic-medium-cond-regular', sans-serif;
    text-align: justify;
}

.p_tit {
    color: #004492!important;
}

.color_cus {
    color: #004492;
    border-color: #004492;
    font-family: 'franklin-gothic-medium-cond-regular', sans-serif;
    position: relative;
    top: 13px;
    margin-bottom: 20px;
}

.color_cus_e {
    margin-bottom: 40px!important;
}

.cus_cus {
    color: grey!important;
    text-align: center;
    font-size: 14px;
    font-family: 'franklin-gothic-book-regular', sans-serif;
}

.cus_cus span {
    color: red;
}

.op_cus {
    color: #004492;
    font-size: 1.3rem;
    font-family: 'franklin-gothic-book-regular', sans-serif;
}

.op_cus input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn_finalizar {
    background-color: #004492;
    border-color: #004492;
}
