.label_c {
    font-family: 'franklin-gothic-medium-cond-regular', sans-serif;
    font-size: 16px!important;
}

.select_c {
    background-color:#EDF2F7!important;
    color: grey!important;
    font-family: 'Franklin Gothic Medium', arial;
    font-size: 14px!important;
    border: none!important;
}

.estilo_boton {
    background-color: #004492!important;
    border-color: #004492!important;
}
.h2_cs {
    font-family: 'Franklin Gothic Medium', arial;
}
.text-center {
    text-align: left!important;
}

.color-cs {
    color: grey!important;
    font-family: 'franklin-gothic-book-regular', sans-serif;
    width: 550px;
    text-align: left!important;
}
.color-cb {
    color: #004492;
    font-family: 'Franklin Gothic Medium', arial;
    font-size: 1.1rem;
}

.mr_5{
    margin-right: 20px;
}

.div_cm {
    display: flex;
}

.input_col {
    background-color: #EDF2F7!important;
    border: 1px solid #EDF2F7!important;
}

.label_c span{
    color: red;
}

.select_custom {
    background-color: #EDF2F7!important;
    appearance: none!important; /* Deshabilitar el estilo nativo del select */
    color: grey!important; /* Establecer el color del texto */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='grey' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Agregar una imagen de fondo personalizada */
    background-repeat: no-repeat!important; /* Evitar que se repita la imagen */
    background-position: right center!important; /* Establecer la posición de la imagen de fondo */
    padding-right: 20px!important; /* Añadir espacio para la imagen de fondo */
    border: none!important; /* Eliminar el borde */
    outline: none!important; /* Eliminar el contorno al seleccionar */
    font-family: 'franklin-gothic-book-regular', sans-serif!important;

    font-size: .9rem!important;
}
