.label_c {
    font-family: 'franklin-gothic-medium-cond-regular', sans-serif;
    font-size: 16px!important;
}

.select_c {
    background-color:#EDF2F7!important;
    color: grey!important;
    font-family: 'Franklin Gothic Medium', arial;
    font-size: 14px!important;
    border: none!important;
}

.estilo_boton {
    background-color: #004492!important;
    border-color: #004492!important;
}
.h2_cs {
    font-family: 'Franklin Gothic Medium', arial;
}

.color-cs {
    color: grey!important;
    font-family: 'franklin-gothic-book-regular', sans-serif;
    width: 550px;
}
.color-cb {
    color: #004492;
    font-family: 'Franklin Gothic Medium', arial;
    font-size: 1.1rem;
}

.mr_5{
    margin-right: 20px;
}

.div_cm {
    display: flex;
}

.input_col {
    background-color: #EDF2F7!important;
    border: 1px solid #EDF2F7!important;
}

.label_c span{
    color: red;
}
