.cont_login {
    border: 1px solid #004492;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
}


.cont_login input {
    max-width: 100%;
    margin-bottom: 25px;
    font-family: 'franklin-gothic-book-regular', sans-serif;
}

.con_input{
    width: 70%;
    text-align: center;
    color: #004492;
    font-family: 'franklin-gothic-book-regular', sans-serif;
}
span {
    color: #004492;
    font-family: 'franklin-gothic-book-regular', sans-serif;
}

.bt_cus {
    width: 100%;
    background-color: #004492;
    border-color: #004492;
    font-family: 'franklin-gothic-book-regular', sans-serif;
}

.p_img {
    color: #004492;
    font-family: 'Franklin Gothic Medium', arial;
}

.p_img_c {
    color: #004492;
    font-family: 'Franklin Gothic Medium', arial;
    margin-right: 20px;
}
