.content_1 {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 1.1rem;
    font-family: 'franklin-gothic-book-regular', sans-serif;
}

.content_1 p {
    margin-right: 10px;
    font-weight: 400;
    font-size: 18px;
}

.content_1 span {
    font-weight: 700;
    font-size: 20px;
    color: #004492;
}

.image-green {
    filter: brightness(150%) hue-rotate(120deg);
  }

/*Estilo para el botón de radio*/
input[type="radio"] {
    width: 18px;
    height: 18px;
  }

  /*Estilo para el círculo del botón de radio*/
  input[type="radio"]:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .content_main {
    display: flex;
    justify-content: space-between;
  }

  .custom_input {
    background-color: rgb(233, 232, 232);
  }

  .custom_input_s {
    appearance: none!important; /* Deshabilitar el estilo nativo del select */
    background-color: rgb(233, 232, 232);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='grey' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Agregar una imagen de fondo personalizada */
    background-repeat: no-repeat!important; /* Evitar que se repita la imagen */
    background-position: right center!important; /* Establecer la posición de la imagen de fondo */
    font-family: 'franklin-gothic-book-regular', sans-serif!important;
    font-size: .9rem!important;
    color: grey!important;
    height: 38px;
  }

  .div_cus label{
    color: grey;
  }

  .div_cus span {
    color: red;
  }

  .select_cus {
    background-color: rgb(233, 232, 232);
  }

  .div_inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div_inside p {
    color: #004492;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', arial;
  }

  .div_inside span {
    color: #004492;
    font-weight: 500;
  }

  .btn_crear {
    background-color: #004492;
    border-color: #004492;
  }

  .cont_cus {
    display: flex;
    justify-content: center;
  }

  .cont_all {
    width: 120px;
    margin-right: 20px;
  }

  .des_cus {
    display: flex;
    flex-direction: row;
  }

  .img_cus {
    display: flex;
    justify-content: center;
  }

  .img_cus img {
    max-width: 50%;
  }

  .div_continuar {
    display: flex;
    justify-content: center;
  }

  .div_continuar button{
    background-color: #004492;
    border-color: #004492;
  }

  .label_cus {
    color: #004492;
  }
  .label_cus span {
    color: red;
  }
  .cont_cus_cus {
    color: #004492;
    font-weight: 700;
    font-size: 20px;
    font-family: 'franklin-gothic-book-regular', sans-serif;
  }
  .h1_tit {
    color: #004492!important;
    font-family: 'Franklin Gothic Medium', arial;
  }

  .btn_c {
    display: flex;
    justify-content: center;
  }
  .btn_c a {
    background-color: #004492;
    border-color: #004492;
    border-radius: 20px;
    color: white;
    font-family: 'franklin-gothic-book-regular', sans-serif;
    font-size: 1rem;
  }

  .div_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .div_con p {
    color: #004492;
    font-size: 25px;
    font-weight: 600;
    font-family: 'franklin-gothic-book-regular', sans-serif;
  }

  .div_con span {
    color: #004492;
    font-size: 16px;
    font-weight: 400;
    font-family: 'franklin-gothic-book-regular', sans-serif;
  }

  .tb_cus {
    color: #004492;
  }

  .cr_cus {
    padding-left: 15px;
  }

.div_sn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.under_S {
    color: #00A6E5!important;
    background-color: #00A6E5!important;
}

.btn_c span {
    color: red!important;
    position: relative;
    bottom: 5px;
}

.select_custom {
    background-color: rgb(233, 232, 232)!important;
    appearance: none!important; /* Deshabilitar el estilo nativo del select */
    color: grey!important; /* Establecer el color del texto */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='grey' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Agregar una imagen de fondo personalizada */
    background-repeat: no-repeat!important; /* Evitar que se repita la imagen */
    background-position: right center!important; /* Establecer la posición de la imagen de fondo */
    padding-right: 20px!important; /* Añadir espacio para la imagen de fondo */
    border: 1px solid #ced4da !important; /* Eliminar el borde */
    outline: none!important; /* Eliminar el contorno al seleccionar */
    font-family: 'franklin-gothic-book-regular', sans-serif!important;

    font-size: .9rem!important;
}
