.content_1 {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 1.1rem;
    font-family: 'franklin-gothic-book-regular', sans-serif;
}

.content_1 p {
    margin-right: 10px;
    font-weight: 400;
    font-size: 18px;
}

.content_1 span {
    font-weight: 700;
    font-size: 20px;
    color: #004492;
}

/*Estilo para el botón de radio*/
input[type="radio"] {
    width: 18px;
    height: 18px;
  }

  /*Estilo para el círculo del botón de radio*/
  input[type="radio"]:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .content_main {
    display: flex;
    justify-content: space-between;
  }

  .custom_input {
    background-color: rgb(233, 232, 232);
  }

  .div_cus label{
    color: #004492;
  }

  .div_cus span {
    color: red;
  }

  .select_cus {
    background-color: rgb(233, 232, 232);
  }

  .div_inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div_inside p {
    color: #004492;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'franklin-gothic-book-regular', sans-serif;
  }

  .div_inside span {
    color: #004492;
    font-weight: 500;
  }

  .btn_crear {
    background-color: #004492;
    border-color: #004492;
  }

  .cont_cus {
    display: flex;
    justify-content: center;
  }

  .cont_all {
    width: 120px;
  }

  .des_cus {
    display: flex;
    flex-direction: row;
  }

  .img_cus {
    display: flex;
    justify-content: center;
  }

  .img_cus img {
    max-width: 50%;
  }

  .div_continuar {
    display: flex;
    justify-content: center;
  }

  .div_continuar button{
    background-color: #004492;
    border-color: #004492;
  }

  .label_cus {
    color: #004492;
  }
  .label_cus span {
    color: red;
  }
  .cont_cus_cus {
    color: #004492;
    font-weight: 700;
    font-size: 20px;
    font-family: 'franklin-gothic-book-regular', sans-serif;
  }
  .h1_tit {
    color: #004492!important;
    font-family: 'Franklin Gothic Medium', arial;
  }

  .btn_c {
    display: flex;
    justify-content: center;
  }
  .btn_c a {
    background-color: #004492;
    border-color: #004492;
    border-radius: 20px;
    color: grey;
    font-family: 'franklin-gothic-book-regular', sans-serif;
    font-size: 1rem;
  }

  .div_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .div_con p {
    color: #004492;
    font-size: 25px;
    font-weight: 600;
    font-family: 'franklin-gothic-book-regular', sans-serif;
  }

  .div_con span {
    color: #004492;
    font-size: 16px;
    font-weight: 400;
    font-family: 'franklin-gothic-book-regular', sans-serif;
  }

  .tb_cus {
    color: #004492;
  }

  .cr_cus {
    padding-left: 15px;
  }
